/* Font imports */

/* Basic styles & variables */
:root {
    /* Code editor font styles */
    --ff-fira-code     : 'Fira Code'      , monospace;
    --ff-jb-mono       : 'JetBrains Mono' , monospace;
    --ff-source-code   : 'Source Code Pro', monospace;
    --ff-roboto-mono   : 'Roboto Mono'    , monospace;
    --ff-cascadia-code : 'Cascadia Code'  , monospace;
    --ff-mono          :                    monospace;

    /* Basic style variables */
    --fs-code          : 14px;
    --fw-code          : 200;
    --ff-code          : var(--ff-jb-mono);

    --ed-term-padding  : 0.5rem; /* Editor & terminal padding */
    --tb-ft-bar-size   : 2rem;  /* Title bar and foot / side bar width */
    --tb-btn-size      : 1.6rem; /* Size of each button in the top bar */
    --bar-size         : 0.3rem; /* Width or height (depends on layout) of the resizer bar */

    /* Theme colors */
    --thm-main-color     : rgb(40 40 40); /* Main color of the theme, used the most */
    --thm-code-color     : rgb(251 241 199); /* Default code color */
    --thm-btn-color      : rgb(40 40 40); /* Default button color */
    --thm-btn-hvr-color  : rgb(35 36 38); /* Button hovered */
    --thm-btn-clk-color  : rgb(21 22 24);  /* Button pressed */
    --thm-btn-dis-color  : rgb(60 60 60);  /* Button disabled */
    --thm-shadow-color   : rgba(30 30 30 / 0.5); /* Main shadow color of the theme */
    --thm-ed-term-bg     : rgb(40 40 40); /* Base color of editor and terminal */
    --thm-fnt-color      : var(--fc-default); /* Base font color of everything except the editor & terminal */
    --thm-sel-bg-color   : rgba(62 158 255 / 0.3); /* Background color when text is selected */
    --thm-border-color   : rgb(115 110 91); /* Base border color of theme */
    --thm-setting-color  : rgb(146 131 116); /* Color of the settings cog */
    --thm-run-color      : rgb(184 187 38); /* Color of the run button */
    --thm-save-color     : rgb(146 131 116); /* Color of the save button */
    --thm-theme-color    : rgb(146 131 116); /* Color of the theme button */
    --thm-layout-color   : rgb(146 131 116); /* Color of the layout button */
    --thm-inp-border     : rgb(60 56 54); /* Color of border, on input elements */
    --thm-inp-fcs-border : rgb(68 104 141); /* Color of border, on input elements, when focused */
}

/* Basic styles */
::selection {
    background-color : var(--thm-sel-bg-color);
}

*, *::before, *::after {
    background-color : var(--thm-main-color);
    color            : var(--thm-fnt-color);
}

/* Button styles */
.btn {
    display          : inline-flex;
    align-items      : center;
    justify-content  : center;
    background-color : var(--thm-btn-color);
    transition       : background-color var(--transition-rate-default);
    border           : none;
    user-select      : none;
}

.btn:disabled, .btn[disabled], .btn.disabled {
    background-color : var(--thm-btn-dis-color);
}

.btn:not(:disabled, [disabled], .disabled):hover {
    background-color : var(--thm-btn-hvr-color);
}

.btn:not(:disabled, [disabled], .disabled):active {
    background-color : var(--thm-btn-clk-color);
}

.btn.theme, .btn.run {
    margin-left : auto;
}

.btn.settings {
    margin-right : 0.2rem;
}

.btn svg {
    background-color : transparent;
}

.layout svg path {
    fill : var(--thm-layout-color);
}

.layout.flip svg {
    transform : rotate(90deg);
}

.theme svg path {
    fill : var(--thm-theme-color);
}

.save svg path {
    fill : var(--thm-save-color)
}

.run svg path {
    fill : var(--thm-run-color)
}

.settings svg path {
    fill : var(--thm-setting-color);
}

input[type=text] {
    display       : block;
    max-width     : 50em;
    width         : 100%;
    outline       : none;
    border        : none;
    border-radius : 1px;
    box-shadow    : var(--thm-inp-border) 0 0 1px 1px;
}

input[type=text]:focus {
    box-shadow : var(--thm-inp-fcs-border) 0 0 1px 3px;
}

.no-notif-plchldr {
    text-align  : center;
    font-weight : bold;
}

.separator-bar {
    margin        : 1.5rem 0;
    width         : 100%;
    border-bottom : 2px solid var(--thm-border-color);
}

.tab-heading {
    margin     : 1rem 0 0;
    text-align : center;
}

/* Main grid styles */
.main {
    --gap  : 0;
    height : 100%;
}

.main.horizontal {
    grid-template-areas  :
        "tb tb  tb   tb    "
        "ed bar term footer"; /* look below (.main.vertical) for the relevant grid areas */
    grid-template-columns : 1fr auto 1fr auto;
    grid-template-rows    : auto 1fr;
}

/* Grid was being very mean, so I had to use this :( */
/* Hides the tab */
.main.horizontal.hide {
    grid-template-columns : 1fr 0 0 auto !important;
}

.main.vertical {
    grid-template-areas :
        "tb    " /* Top tool-bar */
        "ed    " /* Editor */
        "bar   " /* Resizer bar */
        "term  " /* Terminal */
        "footer"; /* Bottom tab bar */
    grid-template-rows : auto 1fr auto 1fr auto;
}

.main.vertical.auto-tab {
    grid-template-rows : auto 1fr auto auto auto;
}

.main.horizontal.auto-tab {
    grid-template-columns : 1fr auto auto auto;
}

/* Grid was being very mean, so I had to use this :( */
/* Hides the tab */
.main.vertical.hide {
    grid-template-rows : auto 1fr 0 0 auto !important;
}

/* Side / bottom tabs */
.tab {
    overflow : auto;
    width    : 100%;
    height   : 100%;
}

/* Holds all tabs */
.opener {
    grid-area : term;
    overflow  : auto;
}

.main:not(.hide).horizontal .opener {
    max-width : calc(100vw - var(--tb-ft-bar-size) * 2 - var(--bar-size) * 2);
    min-width : calc(var(--tb-ft-bar-size) + var(--bar-size));
}

:not(.hide).vertical .opener {
    max-height : calc(100vh - var(--tb-ft-bar-size) * 3 - var(--bar-size) * 2);
    min-height : calc(var(--tb-ft-bar-size) + var(--bar-size));
}

/* Hides overflow when tab is hidden */
.main.hide .opener {
    overflow : hidden;
}

.tab {
    padding : 0.5rem;
}

.tab.hide {
    display : none;
}

/* Editor and terminal */
.editor, .terminal {
    padding          : var(--ed-term-padding);
    background-color : var(--thm-ed-term-bg);
    color            : var(--thm-code-color);
    font-family      : var(--ff-code);
    font-weight      : var(--fw-code);
    font-size        : var(--fs-code);
    white-space      : pre;
    overflow         : auto;
}

/* Enforce code color */
.editor, .editor * {
    color : var(--thm-code-color);
}

.editor {
    grid-area : ed;
    outline   : none;
    overflow  : auto;
}

/* Tool bars, and middle bar */
.bar {
    background-color: var(--thm-border-color);
}

.horizontal .bar {
    width  : var(--bar-size);
    cursor : col-resize;
}

.vertical .bar {
    height : var(--bar-size);
    cursor : row-resize;
}

.tool-bar {
    grid-area       : tb;
    height          : var(--tb-ft-bar-size);
    border-bottom   : var(--thm-border-color) 1px solid;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    --gap           : 0.2rem;
}

@media only screen and (max-width: 550px) {
    .tb-name {
        display: none;
    }
}

.tb-name {
    user-select : none;
    margin-left : 0.2rem;
    width       : 0; /* To prevent other buttons from moving */
    white-space : nowrap;
    font-family : var(--ff-code);
    font-size   : calc(var(--fs-default) * 0.8);
}

.tool-bar .btn {
    border-radius : 0.2rem;
    /* Not that great of a way to do this, oh well... */
    min-width     : var(--tb-btn-size);
    height        : var(--tb-btn-size);
}

.footer-bar::-webkit-scrollbar {
    display: none; /* Chromium */
}

.footer-bar {
    overflow           : auto;
    -ms-overflow-style : none;  /* IE and Edge */
    scrollbar-width    : none;  /* Firefox */
    grid-area          : footer;
    line-height        : 0;
}

.vertical .footer-bar {
    white-space : nowrap;
}

.footer-bar .btn.selected {
    background-color : var(--thm-btn-clk-color);
}

.vertical .footer-bar {
    height     : var(--tb-ft-bar-size);
    border-top : var(--thm-border-color) 1px solid;
}

.vertical .footer-bar .btn {
    padding-inline : 0.5rem;
    height         : 100%;
    border-right   : var(--thm-border-color) 1px solid;
}

.horizontal .footer-bar {
    width        : var(--tb-ft-bar-size);
    border-left  : var(--thm-border-color) 1px solid;
}

.horizontal .footer-bar .btn {
    padding-inline       : 0.5rem;
    width                : 100%;
    border-bottom        : var(--thm-border-color) 1px solid;
    -webkit-writing-mode : vertical-rl;
    -ms-writing-mode     : vertical-rl;
    writing-mode         : vertical-rl;
}

/* Notifications */

.notification {
    padding          : 0.5rem;
    position         : relative;
    border-radius    : 0.25rem;
    background-color : rgb(30 30 30);
    display          : flex;
    margin-bottom    : 0.5rem;
}

.n-success {
    background-color : rgb(49 157 85);
}

.n-info {
    background-color : rgb(30 120 150);
}

.n-warn {
    background-color : rgb(171 153 48);
}

.n-err {
    background-color : rgb(169 35 35);
}

.notification .time-stamp {
    align-self       : flex-start;
    flex-shrink      : 3;
    margin           : 0;
    padding          : 0.2rem;
    position         : relative;
    min-width        : fit-content;
    border-radius    : 0.2rem;
    font-size        : calc(var(--fs-default) * 0.8);
    background-color : rgb(10 10 10);
}

.notification .message {
    flex-grow        : 1;
}

.notification * {
    background-color : transparent;
}

.artificial-link {
    text-decoration: underline;
}

/* Highlighter classes */
.special {
    color       : whitesmoke;
    font-weight : 400;
}

.string, .char {
    color : #7dce00;
}

.number {
    color : #d3869b;
}

.comment {
    color      : #928374;
    font-style : italic;
}

.keyword {
    color      : #fe8019;
    font-style : italic;
}

.identifier, .variable-declaration {
    color : #d6dcaf;
}

.fn-declaration {
    color : #ffc66d;
}

.variable-declaration {
    font-weight : 600;
}