/* Font imports */

/* Basic styles & variables */
:root {
    /* Code editor font styles */
    --ff-fira-code     : 'Fira Code'      , monospace;
    --ff-jb-mono       : 'JetBrains Mono' , monospace;
    --ff-source-code   : 'Source Code Pro', monospace;
    --ff-roboto-mono   : 'Roboto Mono'    , monospace;
    --ff-cascadia-code : 'Cascadia Code'  , monospace;
    --ff-mono          :                    monospace;

    /* Basic style variables */
    --fs-code          : 14px;
    --fw-code          : 200;
    --ff-code          : var(--ff-jb-mono);

    --ed-term-padding  : 0.5rem; /* Editor & terminal padding */
    --tb-ft-bar-size   : 2rem;  /* Title bar and foot / side bar width */
    --tb-btn-size      : 1.6rem; /* Size of each button in the top bar */
    --bar-size         : 0.3rem; /* Width or height (depends on layout) of the resizer bar */

    /* Theme colors */
    --thm-main-color     : rgb(40 40 40); /* Main color of the theme, used the most */
    --thm-code-color     : rgb(251 241 199); /* Default code color */
    --thm-btn-color      : rgb(40 40 40); /* Default button color */
    --thm-btn-hvr-color  : rgb(35 36 38); /* Button hovered */
    --thm-btn-clk-color  : rgb(21 22 24);  /* Button pressed */
    --thm-btn-dis-color  : rgb(60 60 60);  /* Button disabled */
    --thm-shadow-color   : rgba(30 30 30 / 0.5); /* Main shadow color of the theme */
    --thm-ed-term-bg     : rgb(40 40 40); /* Base color of editor and terminal */
    --thm-fnt-color      : var(--fc-default); /* Base font color of everything except the editor & terminal */
    --thm-sel-bg-color   : rgba(62 158 255 / 0.3); /* Background color when text is selected */
    --thm-border-color   : rgb(115 110 91); /* Base border color of theme */
    --thm-setting-color  : rgb(146 131 116); /* Color of the settings cog */
    --thm-run-color      : rgb(184 187 38); /* Color of the run button */
    --thm-save-color     : rgb(146 131 116); /* Color of the save button */
    --thm-theme-color    : rgb(146 131 116); /* Color of the theme button */
    --thm-layout-color   : rgb(146 131 116); /* Color of the layout button */
    --thm-inp-border     : rgb(60 56 54); /* Color of border, on input elements */
    --thm-inp-fcs-border : rgb(68 104 141); /* Color of border, on input elements, when focused */

    /* Notification styles */
    --thm-notif-hlt-clr  : rgb(180 114 21); /* Color to change the notification so that the user gets alerted */
    --thm-notif-clr      : rgb(30 30 30); /* Base notification color */
    --thm-notif-tms      : rgb(45 45 45); /* Notification time-stamp color */
    --thm-notif-info     : rgb(61 107 153); /* Notification info color */
    --thm-notif-succcess : rgb(92 153 61); /* Notification success color */
    --thm-notif-warn     : rgb(153 153 61); /* Notification warning color */
    --thm-notif-error    : rgb(153 61 61); /* Notification warning color */

    /* Code theme settings */
    /* Keywords */
    --thm-kwds-style     : italic;
    --thm-kwds-weight    : 200;
    --thm-kwds-color     : rgb(254 128 25);

    /* Strings */
    --thm-str-style      : normal;
    --thm-str-weight     : normal;
    --thm-str-color      : rgb(125 206 0);

    /* Characters */
    --thm-chr-style      : normal;
    --thm-chr-weight     : normal;
    --thm-chr-color      : rgb(125 206 0);

    /* Numbers */
    --thm-num-style      : italic;
    --thm-num-weight     : normal;
    --thm-num-color      : rgb(211 134 155);

    /* Special characters / Operators */
    --thm-oper-style     : normal;
    --thm-oper-weight    : 400;
    --thm-oper-color     : rgb(245 245 245);

    /* Special characters / Operators */
    --thm-rng-style     : normal;
    --thm-rng-weight    : bold;
    --thm-rng-color     : rgb(255 178 68);

    /* Function calls and declarations */
    --thm-fn-style       : italic;
    --thm-fn-weight      : normal;
    --thm-fn-color       : rgb(255 198 109);

    /* Variable access & declarations */
    --thm-var-style      : normal;
    --thm-var-weight     : bold;
    --thm-var-color      : rgb(214 220 175);

    /* Constants access & declarations */
    --thm-const-style    : normal;
    --thm-const-weight   : bold;
    --thm-const-color    : rgb(214 220 175);

    /* Other identifiers */
    --thm-ident-style    : normal;
    --thm-ident-weight   : normal;
    --thm-ident-color    : rgb(214 220 175);

    /* Comments */
    --thm-com-style      : italic;
    --thm-com-weight     : 200;
    --thm-com-color      : rgb(146 131 116);
}

/* Basic styles */
::selection {
    background-color : var(--thm-sel-bg-color);
}

*, *::before, *::after {
    background-color : var(--thm-main-color);
    color            : var(--thm-fnt-color);
}

/* Button styles */
.btn {
    display          : inline-flex;
    align-items      : center;
    justify-content  : center;
    background-color : var(--thm-btn-color);
    transition       : background-color var(--transition-rate-default);
    border           : none;
    user-select      : none;
}

.btn:disabled, .btn[disabled], .btn.disabled {
    background-color : var(--thm-btn-dis-color);
}

.btn:not(:disabled, [disabled], .disabled):hover {
    background-color : var(--thm-btn-hvr-color);
}

.btn:not(:disabled, [disabled], .disabled):active {
    background-color : var(--thm-btn-clk-color);
}

.btn.theme, .btn.run {
    margin-left : auto;
}

.btn.settings {
    margin-right : 0.2rem;
}

.btn svg {
    background-color : transparent;
}

.layout svg path {
    fill : var(--thm-layout-color);
}

.layout.flip svg {
    transform : rotate(90deg);
}

.theme svg path {
    fill : var(--thm-theme-color);
}

.save svg path {
    fill : var(--thm-save-color)
}

.run svg path {
    fill : var(--thm-run-color)
}

.settings svg path {
    fill : var(--thm-setting-color);
}

input[type=text] {
    display       : block;
    max-width     : 50em;
    width         : 100%;
    outline       : none;
    border        : none;
    border-radius : 1px;
    box-shadow    : var(--thm-inp-border) 0 0 1px 1px;
}

input[type=text]:focus {
    box-shadow : var(--thm-inp-fcs-border) 0 0 1px 3px;
}

.no-notif-plchldr {
    text-align  : center;
    font-weight : bold;
}

.separator-bar {
    margin        : 1.5rem 0;
    width         : 100%;
    border-bottom : 2px solid var(--thm-border-color);
}

.tab-heading {
    margin     : 1rem 0 0;
    text-align : center;
}

/* Main grid styles */
.main {
    --gap  : 0;
    height : 100%;
}

.main.horizontal {
    grid-template-areas  :
        "tb tb  tb   tb    "
        "ed bar term footer"; /* look below (.main.vertical) for the relevant grid areas */
    grid-template-columns : 1fr auto 1fr auto;
    grid-template-rows    : auto 1fr;
}

/* Grid was being very mean, so I had to use this :( */
/* Hides the tab */
.main.horizontal.hide {
    grid-template-columns : 1fr 0 0 auto !important;
}

.main.vertical {
    grid-template-areas :
        "tb    " /* Top tool-bar */
        "ed    " /* Editor */
        "bar   " /* Resizer bar */
        "term  " /* Terminal */
        "footer"; /* Bottom tab bar */
    grid-template-rows : auto 1fr auto 1fr auto;
}

.main.vertical.auto-tab {
    grid-template-rows : auto 1fr auto auto auto;
}

.main.horizontal.auto-tab {
    grid-template-columns : 1fr auto auto auto;
}

/* Grid was being very mean, so I had to use this :( */
/* Hides the tab */
.main.vertical.hide {
    grid-template-rows : auto 1fr 0 0 auto !important;
}

/* Side / bottom tabs */
.tab {
    overflow : auto;
    width    : 100%;
    height   : 100%;
}

/* Holds all tabs */
.opener {
    grid-area : term;
    overflow  : auto;
}

.main:not(.hide).horizontal .opener {
    max-width : calc(100vw - var(--tb-ft-bar-size) * 2 - var(--bar-size) * 2);
    min-width : calc(var(--tb-ft-bar-size) + var(--bar-size));
}

:not(.hide).vertical .opener {
    max-height : calc(100vh - var(--tb-ft-bar-size) * 3 - var(--bar-size) * 2);
    min-height : calc(var(--tb-ft-bar-size) + var(--bar-size));
}

/* Hides overflow when tab is hidden */
.main.hide .opener {
    overflow : hidden;
}

.tab {
    padding : 0.5rem;
}

.tab.hide {
    display : none;
}

/* Editor and terminal */
.editor, .terminal {
    padding          : var(--ed-term-padding);
    background-color : var(--thm-ed-term-bg);
    color            : var(--thm-code-color);
    font-family      : var(--ff-code);
    font-weight      : var(--fw-code);
    font-size        : var(--fs-code);
    white-space      : pre;
    overflow         : auto;
    tab-size         : 4;
    caret-color      : var(--thm-code-color);
}

/* Enforce code color */
.editor, .editor * {
    color : var(--thm-code-color);
}

.editor {
    grid-area : ed;
    outline   : none;
    overflow  : auto;
}

/* Tool bars, and middle bar */
.bar {
    background-color : var(--thm-border-color);
}

.horizontal .bar {
    width  : var(--bar-size);
    cursor : col-resize;
}

.vertical .bar {
    height : var(--bar-size);
    cursor : row-resize;
}

.tool-bar {
    grid-area       : tb;
    height          : var(--tb-ft-bar-size);
    border-bottom   : var(--thm-border-color) 1px solid;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    --gap           : 0.2rem;
}

@media only screen and (max-width: 550px) {
    .tb-name {
        display : none;
    }
}

.tb-name {
    user-select : none;
    margin-left : 0.2rem;
    width       : 0; /* To prevent other buttons from moving */
    white-space : nowrap;
    font-family : var(--ff-code);
    font-size   : calc(var(--fs-default) * 0.8);
}

.tool-bar .btn {
    border-radius : 0.2rem;
    /* Not that great of a way to do this, oh well... */
    min-width     : var(--tb-btn-size);
    height        : var(--tb-btn-size);
}

.footer-bar::-webkit-scrollbar {
    display : none; /* Chromium */
}

.footer-bar {
    overflow           : auto;
    -ms-overflow-style : none;  /* IE and Edge */
    scrollbar-width    : none;  /* Firefox */
    grid-area          : footer;
    line-height        : 0;
}

.vertical .footer-bar {
    white-space : nowrap;
}

.footer-bar .btn.selected {
    background-color : var(--thm-btn-clk-color);
}

.vertical .footer-bar {
    height     : var(--tb-ft-bar-size);
    border-top : var(--thm-border-color) 1px solid;
}

.vertical .footer-bar .btn {
    padding-inline : 0.5rem;
    height         : 100%;
    border-right   : var(--thm-border-color) 1px solid;
}

.horizontal .footer-bar {
    width        : var(--tb-ft-bar-size);
    border-left  : var(--thm-border-color) 1px solid;
}

.horizontal .footer-bar .btn {
    padding-inline       : 0.5rem;
    width                : 100%;
    border-bottom        : var(--thm-border-color) 1px solid;
    -webkit-writing-mode : vertical-rl;
    -ms-writing-mode     : vertical-rl;
    writing-mode         : vertical-rl;
}

/* Notifications */

.notifications .clear-all {
    padding       : 0.5rem;
    border-radius : 0.25rem;
    width         : 100%;
    margin-bottom : 1rem;
}

@keyframes highlight {
    25%, 75% {
        background-color : var(--thm-notif-hlt-clr);
    }
}

.notification {
    overflow         : auto;
    padding          : 0.5rem;
    position         : relative;
    border-radius    : 0.25rem;
    background-color : var(--thm-notif-clr);
    display          : flex;
    margin-bottom    : 0.5rem;
    animation        : highlight 1s ease;
    transition       : background-color var(--transition-rate-default);
}

.n-success {
    background-color : var(--thm-notif-succcess);
}

.n-info {
    background-color : var(--thm-notif-info);
}

.n-warn {
    background-color : var(--thm-notif-warn);
}

.n-err {
    background-color : var(--thm-notif-error);
}

.notification .time-stamp {
    padding          : 0.2rem;
    position         : relative;
    min-width        : fit-content;
    width            : fit-content;
    height           : 0%; /* Wierd trick, but prevents timestamp from becoming 100% height */
    margin           : 0 0 0 auto;
    border-radius    : 0.2rem;
    font-size        : calc(var(--fs-default) * 0.8);
    background-color : var(--thm-notif-tms);
}

.notification * {
    background-color : transparent;
}

.artificial-link {
    text-decoration : underline;
}

/* Highlighter classes */
.operator {
    color       : var(--thm-oper-color);
    font-weight : var(--thm-oper-weight);
    font-style  : var(--thm-oper-style);
}

.string {
    color       : var(--thm-str-color);
    font-weight : var(--thm-str-weight);
    font-style  : var(--thm-str-style);
}

.char {
    color       : var(--thm-chr-color);
    font-weight : var(--thm-chr-weight);
    font-style  : var(--thm-chr-style);
}

.number {
    color       : var(--thm-num-color);
    font-weight : var(--thm-num-weight);
    font-style  : var(--thm-num-style);
}

.comment {
    color       : var(--thm-com-color);
    font-weight : var(--thm-com-weight);
    font-style  : var(--thm-com-style);
}

.keyword {
    color       : var(--thm-kwds-color);
    font-style  : var(--thm-kwds-style);
    font-weight : var(--thm-kwds-weight);
}

.identifier {
    color       : var(--thm-ident-color);
    font-weight : var(--thm-ident-weight);
    font-style  : var(--thm-ident-style);
}

.fn {
    color       : var(--thm-fn-color);
    font-weight : var(--thm-fn-weight);
    font-style  : var(--thm-fn-style);
}

.variable {
    color       : var(--thm-var-color);
    font-weight : var(--thm-var-weight);
    font-style  : var(--thm-var-style);
}

.constant {
    color       : var(--thm-const-color);
    font-weight : var(--thm-const-weight);
    font-style  : var(--thm-const-style);
}

.range {
    color       : var(--thm-rng-color);
    font-weight : var(--thm-rng-weight);
    font-style  : var(--thm-rng-style);
}