/* Font imports */
/* JetBrains Mono, Fira Code, Source Code pro, Roboto mono */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Basic styles & variables */
:root {
    /* Code editor font styles */
    --ff-fira-code   : 'Fira Code'      , monospace;
    --ff-jb-mono     : 'JetBrains Mono' , monospace;
    --ff-sourc-code  : 'Source Code Pro', monospace;
    --ff-roboto-mono : 'Roboto Mono'    , monospace;
    --ff-mono        :                    monospace;

    --fs-code        : 14px;
    --fw-code        : 200;

    --ff-code        : var(--ff-jb-mono);
    --code-rgb       : 251 241 199;
    --code-lines     : rgba(var(--code-rgb) / 0.4);
    --code-color     : rgb(var(--code-rgb));
    --ed-term-color  : rgb(40 40 40);
    --ed-cont-color  : rgb(45 45 45);
    --ed-term-shadow : rgba(30 30 30 / 0.5) 0 0 .3rem .15rem;

    --caret-height   : var(--fs-code);
    --line-no-width  : 3rem;
    --editor-padding : 0.5rem;

    --btn-shadow     : rgba(30 30 30 / 0.5) 0 0 .2rem .05rem;
}

::selection {
    background-color : rgba(62 158 255 / 0.3);
}

/* Editor, terminal & toolbar */

.editor-container {
    --gap              : 1rem;
    padding            : 1rem;
    grid-template-rows : 3rem 14fr 7fr;
    height             : 100vh;
    background-color   : var(--ed-cont-color);
}

.editor, .terminal, .toolbar {
    font-family       : var(--ff-code);
    font-size         : var(--fs-code);
    font-weight       : var(--fw-code);
    border            : 0;
    width             : 100%;
    background-color  : var(--ed-term-color);
    color             : var(--code-color);
    border-radius     : 0.25rem;
    box-shadow        : var(--ed-term-shadow);
}

.editor, .terminal {
    padding     : var(--editor-padding);
    overflow    : auto;
    white-space : pre;
}

.editor {
    position    : relative;
    flex-grow   : 3;
    outline     : none;
    border      : 0;
    overflow    : auto;
    tab-size    : 4;
    caret-color : var(--code-color);
}

.terminal {
    flex-grow : 2;
}

/* Toolbar */

.toolbar {
    --padding             : 0.5rem;
    --gap                 : var(--padding);
    overflow              : auto;
    padding               : var(--padding);
    grid-template-columns : repeat(auto-fit, minmax(0.5rem, 1fr));
}

.toolbar .button {
    display          : inline-flex;
    align-items      : center;
    justify-content  : center;
    border-radius    : 0.25rem;
    background-color : transparent;
    text-overflow    : ellipsis;
    overflow         : hidden;
    user-select      : none;
    transition       : background-color var(--transition-rate-default),
                       box-shadow var(--transition-rate-default);
}

.toolbar .button:hover {
    background-color : rgba(29 32 33 / 0.55);
    box-shadow       : var(--btn-shadow);
}

.toolbar .button:active, .toolbar .button:focus {
    background-color : rgba(29 32 33);
    box-shadow       : var(--btn-shadow);
}

/* Notifications */

.notification-holder {
    --gap          : 0.25rem;
    padding        : 0.25rem;
    flex-direction : column;
    position       :  fixed;
    width          : 35rem;
    right          : 0;
    top            : 0;
    z-index        : 10000;
    max-height     : 100vh;
    overflow-y     : auto;
}

.notification {
    padding          : 10px;
    position         : relative;
    border-radius    : 0.25rem;
    background-color : rgba(30 30 30 / 0.85);
    box-shadow       : var(--btn-shadow);
    transition       : background-color var(--transition-rate-default);
    display          : flex;
}

.notification:hover {
    background-color : rgb(30 30 30);
}

.n-success {
    background-color : rgba(49 157 85 / 0.85);
}

.n-success:hover {
    background-color : rgb(49 157 85);
}

.n-info {
    background-color : rgba(30 120 150 / 0.85);
}

.n-info:hover {
    background-color : rgb(30 120 150);
}

.n-warn {
    background-color : rgba(171 153 48 / 0.85);
}

.n-warn:hover {
    background-color : rgb(171 153 48);
}

.n-err{
    background-color : rgba(169 35 35 / 0.85);
}

.n-err:hover {
    background-color : rgb(169 35 35);
}

.notification .time-stamp {
    align-self       : flex-start;
    flex-shrink: 3;
    margin           : 0;
    padding          : 0.2rem;
    position         : relative;
    min-width        : fit-content;
    border-radius    : 0.2rem;
    font-size        : calc(var(--fs-default) * 0.8);
    box-shadow       : var(--btn-shadow);
    background-color : rgba(10 10 10);
}

.notification .message {
    flex-grow: 1;
}

/* Highlighter classes */
.special {
    color       : whitesmoke;
    font-weight : 400;
}

.string {
    color : #7dce00;
}

.number {
    color : #d3869b;
}

.comment {
    color      : #928374;
    font-style : italic;
}

.keyword {
    color      : #fe8019;
    font-style : italic;
}